<div class="page-nav no-margin row">
  <div class="container">
    <div class="row">
      <h2>Qalereyalar</h2>
      <ul>
        <li>
          <a href="#"><i class="fas fa-home"></i> Ana Səhifə</a>
        </li>
        <li><i class="fas fa-angle-double-right"></i> Qalereya</li>
      </ul>
    </div>
  </div>
</div>

<!--  ************************* Gallery Starts Here ************************** -->
<div id="portfolio" class="gallery">
  <div class="container" *ngIf="!selectedEvent">
    <div class="row">
      <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter hdpe" *ngFor="let gallery of galleries">
        <img [src]="gallery.fileUrl" class="img-responsive" (click)="openModal(gallery)" />
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedGallery" class="custom-modal" (click)="closeModal()">
  <div class="custom-modal-content" (click)="$event.stopPropagation()">
    <img [src]="selectedGallery.fileUrl" class="custom-modal-image" />
  </div>
</div>
<!-- ######## Gallery End ####### -->
